{% extends "base/base_layout.html" %}
{% load static %}

{% block sidebar_option %}
      sidebar-collapse
{% endblock %}

 {% block extra_css %}
<link href="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.css" %}" rel="stylesheet">

<style>
#app_icon{
        width: 64px;
        height: 64px;
    }
.selected {
    background-color: lightgreen !important;
}

.selectable_table tr:hover {
    background-color: lightgreen !important;
}
</style>
{% endblock %}

{% block content %}


<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                

                 <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-rocket"></i> Recent Scans - Static & Dynamic Reports - Androdd Scan</h3>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>APP</th>
                        <th>FILE</th>
                        <th>TYPE</th>
                        <th>HASH</th>
                        <th>SCAN DATE</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in entries %}
                        <tr>
                            <td align="center">
                                <img id="app_icon" src="/download/{{ e.MD5 }}-icon.png" onerror="this.src='{% static 'img/no_icon.png' %}'">
                                {% if e.PACKAGE_NAME %}
                                  <br/><strong>{{ e.APP_NAME }} {% if e.VERSION_NAME %} - {{ e.VERSION_NAME }} {% endif %}</strong>
                                  </br>{{ e.PACKAGE_NAME }}
                                {% else %}
                                </br><span class="badge bg-warning">scan not completed</span>
                                {% endif %}
                            </td>
                            <td>{{ e.FILE_NAME }}
                            </td>
                            <td align="center">
                                {% if '.apk' == e.FILE_NAME|slice:"-4:"%}<i class="fab fa-android fa-3x"></i>
                                {% elif '.ipa' == e.FILE_NAME|slice:"-4:"%}<i class="fab fa-apple fa-3x"></i>
                                {% elif '.zip' == e.FILE_NAME|slice:"-4:"%}<i class="fas fa-file-archive fa-3x"></i>
                                {% elif '.appx' == e.FILE_NAME|slice:"-5:"%}<i class="fab fa-windows fa-3x"></i>
                                {% endif %}
                            </td>
                            <td>{{ e.MD5 }}</td>
                            <td>{{ e.TIMESTAMP }}</td>
                            <td><p><a class="btn btn-primary" href="../{{ e.URL }}"><i class="fas fa-eye"></i> Static Report</a>
                                   <a class="btn btn-primary" href="../PDF/?md5={{ e.MD5 }}"><i class="fas fa-file-pdf"></i></a>
                                </p>
                            {% if '.apk' == e.FILE_NAME|slice:"-4:"%}
                                <p><a class="btn btn-success" href="../dynamic_report/?hash={{ e.MD5  }}&amp;package={{e.PACKAGE}}"><i class="fa fa-mobile"></i> Dynamic Report</a> 
                                </p><p><a class="diffButton btn btn-warning" id="{{ e.MD5 }}_{{ e.FILE_NAME }}"><i class="fas fa-not-equal"></i> Diff or Compare</a>
                                </p>
                            {% endif %}
                            <p> <a class="btn btn-secondary" id="{{ e.MD5 }}" onclick="androdd_scan(this)" href="#">Androdd Scan</a> </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.box-body -->
    </div>


          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
      <script src="{% static "adminlte/plugins/jquery.min.js" %}"></script>
      <script>
        function mytool_scan(item){
          var md5_hash = item.id;
          $.ajax({
            url:'../mytool_scan/',
            type: 'POST',
            dataType: 'json',
            data:{
              csrfmiddlewaretoken: '{{ csrf_token }}',
              md5: md5_hash,
            }
          })
        }
      </script>
{% endblock extra_scripts %}
